@charset "UTF-8";
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: beige;
}

.login-form{
    width: 400px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 30px;
    text-align: center;
    margin: 180px auto;
}
.text-field{
    font-size: 14px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}
.submit-btn{
    color: #ffffff;
    font-size: 14px;
    background-color: aquamarine;
    margin-bottom: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.links{
    text-align: center;
}
.links a{
    font-size: 12px;
    color: #9b9b9b;
}
